.post_container {
  width: 615px;
  height: 100%;
  max-height: 900px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;

  @media screen and (max-width: 576px) {
    max-width:408px;
  }

  a{
    text-decoration: none;
    color: #000;
  }
  
  .post{
    max-height: 900px;
  }

  .image {
    width: 100%;
    max-height: 700px;
    overflow: hidden;

    @media screen and (max-width: 576px) {
      width: 100%;
      max-width:408px;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 600px;
      max-width: 614px;

      @media screen and (max-width: 576px) {
        width: 100%;
        max-width:408px;
      }
    }
  }

  .slide {
    .react-slideshow-container {
      width: 614px;
      margin-left: 8px;

      @media screen and (max-width: 576px) {
        width: 100%;
        max-width:408px;
      }
    }
  }

  .user_post {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    img,
    .avatar {
      border-radius: 100%;
      width: 37px;
      height: 37px;
      object-fit: cover;
      margin-right: 10px;
      margin-left: 14px;
    }

    .dots {
      position: relative;
      left: 444px;
      cursor: pointer;
    }

    .dropdown{
      font-weight: bold;
      cursor: pointer;
      color:#ed4956;
      padding: 10px;
      position: relative;
      z-index: 99;
      left: 428px;
      top: 38px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .footer_post {
    padding: 15px;
    background-color: #fff;

    @media screen and (max-width: 576px) {
      width: 100%;
      max-width:408px;
    }

    div {
      margin-bottom: 10px;
    }

    .heart_red{
      cursor: pointer;
      fill: #ed4956;
      color: #ed4956;
      margin-right: 17px;

    }

    .heart_white{
      cursor: pointer;
      margin-right: 17px;
    }

    .heart_white:hover{
      color:rgba(0, 0, 0, 0.5)
    }

    .see_comment{
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }

    .form {
      display: flex;
      align-items: center;
      width: 582px;
      height: 40px;
      line-height: 10px;

      @media screen and (max-width: 576px) {
        width: 100%;
        max-width:408px;
      }

      textarea {
        resize: none;
        width: 530px;
        height: 18px;
        border: none;
      }

      textarea:focus {
        outline: 0;
      }

      button {
        background-color: #fff;
        color: rgb(0, 191, 255);
        border: none;
        margin-left: 5px;
        cursor: pointer;
      }

      button:disabled{
        background-color: #fff;
        color: rgb(0, 191, 255, 0.5);
        border: none;
        margin-left: 5px;
        cursor: default;
      }
    }
  }
}
