.container_home {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  max-width: 975px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: 576px) {
    width: 100%;
    max-width:400px;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 614px;
    max-width: 614px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;

    @media screen and (max-width: 576px) {
      width: 100%;
      max-width:408px;
    }

    
  }

  .article {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 340px;
    top: 130px;
    width: 293px;
    height: 327px;

    @media screen and (max-width: 576px) {
     display: none;
    }

    div {
      display: flex;
      flex-direction: row;
      width: 186px;
      height: 80px;
      font-size: 0.9rem;
      padding-top: 13px;
      padding-left: 7px;

      .avatar {
        object-fit: cover;
        border-radius: 100%;
        width: 56px;
        height: 56px;
        margin-left: 40px;
      }

      div {
        display: flex;
        flex-direction: column;
        .name {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    section{
      height:100%;
      padding-top: 15px;
      span{
        margin-left: 47px;
        color:rgba(0, 0, 0, 0.5);
        font-size: 0.9em;
      }
    }
  }
}
