.register{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
    form{
      display: flex;
      flex-direction: column;
    }
}