.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
  }
    form{
      display: flex;
      flex-direction: column;
    }
}